// http://www.colourlovers.com/palette/3661276/Nearly_neutral
header {
    border-top:10px solid #E4DAC2;
    background:#F4EEE1;
    box-shadow:inset 0 1px 0 lighten(#F4EEE1, 40%);
    color:#999;
    padding:15px 0 15px;

    img {
        float:left;
    }
    .moo {
        float:left;
        margin:10px 0 0 15px;
    }
    h1, a {
        text-decoration:none;
        color:#666;
    }

}

footer {
    background:#EBCFC4;
    padding:10px 0;
    color:darken( #EBCFC4, 20% );
    font-size:18px;

    a {
        color:darken( #EBCFC4, 35% );
    }

}

h1 {
    font-size:30px;
    margin:0 0 15px;
    font-weight:bold;
    padding:0;
}

h2 {
    font-size:20px;
    font-weight:normal;
    margin:0 0 10px;
    padding:0;
}

.centered {
    max-width:800px;
    margin:0 auto;
}

.posts {
    margin-top:50px;
}

.post {
    border-bottom:1px solid #ff9e9d;
    margin:0 0 40px;
    padding:0 0 37px;

    &:last-child {
        border-bottom:0 none;
    }
}

.post-head {
    font-size:28px;
    margin:0 0 5px;
    padding:0;
    color:darken( #C4BDAC, 10% );
    font-weight:bold;
}

.post-date {
    font-size:18px;
    color:darken( #dad8a7, 50% );
    margin:0 0 10px;
}

.main-form {
    border:1px solid #d0d0d0;
    padding:20px;
    margin-top:20px;
}

.main-input, .main-textarea, .main-select {
    border:1px solid #d0d0d0;
    padding:8px 8px;
    display:inline-block;
    width:100%;
    overflow:hidden;
    position:relative;
    z-index:1;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius:3px;
}

.admin-actions {
    border-top:1px solid #d0d0d0;
    background:#eee;
    margin-top:10px;
    padding:10px;
}

.neg-header {
    background:#333;
    color:#ff9e9d;
    padding:10px;
    margin:20px 0;
}

.neg-section {
    background:#fee;
}

.icon {
    width:75px;
    height:75px;
    border-radius:100%;
    margin-right:6px;
    float:left;
    background-size:cover;
    overflow:hidden;

    &.last {
        margin-right:20px;
    }
}

.icon-bacon {
    @extend .icon;
    background-image:url(../assets/bacon-icon.jpg);
}

.icon-olivia {
    @extend .icon;
    background-image:url(../assets/olivia-icon.jpg);
}

.icon-poop {
    @extend .icon;
    background-image:url(../assets/poop-icon.png);
}

.icon-andy {
    @extend .icon;
    background-image:url(../assets/andy-icon.png);
}

.post-header {
    margin:0 0 15px;
}

.post-meta {
    margin:9px 0 0;
}

.post-tags {
    margin:15px 0 0;
    font-size:16px;
    color:darken( #dad8a7, 50% );
}

.tag-list {
    color:darken( #EBCFC4, 10% );
}

.post-image {
    margin:15px 0 0;
    max-width:100%;
}
